<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.mapper.BudgetMapper">
    <update id="deductBudget">
        UPDATE budget
        SET total_amount = total_amount - #{consumption}, update_time = NOW()
        WHERE id = #{id}
        AND total_amount >= #{consumption}
        LIMIT 1
    </update>
</mapper>